body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* ensures webpage will fill up screen, 
    Reference: https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b#:~:text=Keep%20the%20footer%20at%20the%20bottom%20by%20using%20Flexbox&text=Make%20sure%20that%20you%20are,content%3Aspace%2Dbetween%3B%20.; */
    min-height: 100vh; 
    
}

header{
    background-color: darkgrey;
    font-size: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    font-weight: 900;
}

footer{
    background-color: lightgray;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 2px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.square{
    font-size: 30px;
    width: 30px;
    margin: 2px;    
    border: 1px;
    padding: 0px;
    border-color: black;
    border-style: solid;
    text-align: center;
}

.right{
    margin-right: 8px;
}

.top{
    margin-top: 8px;
}

.bottom{
    margin-bottom: 8px;
}

.left{
    margin-left: 8px;
}